div:first-child > span {
  display: block;
}
div:first-child > span:first-child {
  display: inline-block;
}
div:first-child > span:not(:first-child) {
  margin-left: 18px;
}
div:nth-child(2) > div:first-child {
  display: inline-block;
}
div:nth-child(2) > div:not(:first-child) {
  margin-left: 18px;
}
body > div {
  display: list-item;
  list-style: upper-alpha;
  list-style-position: inside;
}
div:nth-child(3) span:nth-child(2) {
  display: inline-block;
}
