div {
  width: 90px;
  overflow: hidden;
}
table {
  border-spacing: 0;
  width: 92px;
  table-layout: fixed;
}
td {
  padding: 0;
  width: 30px;
  height: 30px;
  resize: horizontal;
  background-color: red;
}
tr td:first-child {
  background-color: blue;
}
tr td:nth-child(2) {
  background-color: red;
}

tr:nth-child(2) td:last-child {
  background-color: blue;
  border-radius: 50%;
}
tr:first-child td:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 20px;
}
tr:first-child td:nth-child(2) {
  border-top-left-radius: 15px;
}
tr:last-child td:nth-child(2) {
  border-bottom-left-radius: 15px;
}
tr:first-child td:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
tr:last-child td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
