body {
  display: flex;
  flex-wrap: wrap;
}
div {
  box-sizing: border-box;
  border: 2px solid black;
  flex-basis: 25%;
}
div:first-child {
  flex-basis: 100%;
}
div:nth-child(3) {
  margin: 0 20px;
  flex-grow: 1;
}
div:nth-child(5) {
  flex-basis: 100%;
}
@media (max-width: 960px) {
  div {
    flex: 33%;
  }
  div:nth-child(3) {
    margin: 0;
    flex-grow: 0;
  }
}

@media (max-width: 560px) {
  div {
    flex: 100%;
  }
}
